#container {
	$doc-width: 900px;
	$doc-columns: 3;
	$nav-columns: 1;
	$content-columns: 2;
	width: $doc-width;
	nav {
		min-width: $doc-width / $doc-columns * $nav-columns;
		float: left;
		ul {
			$nav-color: #000000;
			border-color: $nav-color;
			border-width: 3px;
			li {
				background-color: lighten($nav-color, 50%);
			}
		}
	}
	#content {
		min-width: $doc-width / $doc-columns * $content-columns;
		float: left;
		h1 {
			color: gray;
		}
		p {
			text-align: justify;
		}
	}
	footer {
		width: 100%;
		text-align: right;
		clear: both;
	}
}